@font-face {
    font-family: "misaki";
    src: url("../fonts/misaki_gothic_2nd.ttf");
}

$family-primary: "misaki";

@import "~bulma/bulma";

body {
    background: #fcfcfc;
}

#game-wrapper {
    width: 240 * 3px;
    height: 160 * 3px;
    display: inline-block;
}

.title {
    margin-top: 2rem;
}